<a href="https://colab.research.google.com/github/LakshayGangwal/Assignments-Data-Structures-in-Python/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q-1 Write a code to reverse a string

def reverse_string(s):
    return s[::-1]

str = input("Enter a string: ")
print(reverse_string(str))

Enter a string: andaman
namadna

In [ ]:
# Q-2 Write a code to count the number of vowels in a string

def count_vowel(s):
    vowels="AEIOUaeiou"
    count = 0
    for i in s:
        if i in vowels:
          count+=1
        else:
          continue
    return count

str = input("Enter a string: ")
print(count_vowel(str))

Enter a string: Data analytics
5

In [ ]:
# Q-3  Write a code to check if a given string is a palindrome or not

def palindrome(s):
    if s==s[::-1]:
      return(s + " is a Palindrome")
    else:
      return(s + " is not a Palindrome")

str=input("Enter your word: ")
palindrome(str)

Enter your word: rotator

'rotator is a Palindrome'

In [ ]:
# q-4 Write a code to check if two given strings are anagrams of each other

def anagram(s1,s2):
  if sorted(s1)==sorted(s2):
    print(s1 + " and " + s2 + " are anagrams")
  else: print(s1 + " and " + s2 + " are not anagrams")

str1=input("Enter first string: ")
str2=input("Enter second string: ")
anagram(str1,str2)

Enter first string: earth
Enter second string: heart
earth and heart are anagrams

In [ ]:
# Q-5 Write a code to find all occurrences of a given substring within another string

def check_script(s1,s2):
    if s2 in s1:
      print(s2 + " is a substring")
    else:
      print(s2 + " is not a substring")

str1 = input("Enter string 1 :")
str2 = input("Enter string 2 :")
check_script(str1,str2)

# INSIGHTS: this program could also be done with the help of .find() method

Enter string 1 :Hello PWskills
Enter string 2 :skill
skill is a substring

In [ ]:
# Q-6 Write a code to perform basic string compression using the counts of repeated characters

def count_char(s):
    count=0
    l=list(s)
    l.sort()
    for i in range(len(l)):
      if l[i]==l[i-1]: continue
      else: print(l[i])

str = input("enter your string :")
count_char(str)

enter your string :Lakshay
L
a
h
k
s
y

In [ ]:
# Q-7 Write a code to determine if a string has all unique characters

def check_unique(s):
    l=list(s)
    l.sort()
    for i in range(len(l)):
        if l[i]==l[i-1]:
          print("All the character in string are NOT unique")
          break
        elif i==len(l)-1:
          print("All the character in string are unique")


str = input("enter your string :")
check_unique(str)

enter your string :ABCDEFGH
All the character in string are unique

In [ ]:
# Q-8 Write a code to convert a given string to uppercase or lowercase

def str_convert(s,choice):
    if choice=="upper":
        return s.upper()
    elif choice=="lower":
        return s.lower()
    else: return ("incorrect input")

str=input("enter your string :")
choice=input("""type "upper" for upper case or "lower" for lower case conversion :""")
str_convert(str,choice)

# INSIGHTS: alternate way

#def convert_case(s):
 #   print("Original String:", s)
 #   print("Uppercase:", s.upper())
 #   print("Lowercase:", s.lower())

enter your string :data analytics
type "upper" for upper case or "lower" for lower case conversion :upper

'DATA ANALYTICS'

In [ ]:
# Q-9 Write a code to count the number of words in a string

str= input("enter your string :")
print(len(str))

enter your string :lakshay
7

In [ ]:
# Q-10 Write a code to concatenate two strings without using the + operator

s1=input("enter first string :")
s2=input("enter second string :")
print(s1+s2)

enter first string :PW
enter second string :skills
PWskills

In [ ]:
# Q-11 Write a code to remove all occurrences of a specific element from a list

l= ["apple", "banana", "cherry", "banana", "kiwi", "banana","apple", "banana", "kiwi","apple"]
print(l)
str = input("enter the item you want to remove :")
for i in l:
  if i==str:
    l.remove(i)
  else: continue

print(l)

# INSIGHTS: alternate way by using filter and lambda

#  my_list = ["apple", "banana", "cherry", "banana", "kiwi","apple", "banana", "banana", "kiwi"]
#  str = input("enter the item you want to remove :")
#  new = list(filter(lambda x: x!=str, my_list))
#  print(new)

['apple', 'banana', 'cherry', 'banana', 'kiwi', 'banana', 'apple', 'banana', 'kiwi', 'apple']
enter the item you want to remove :banana
['apple', 'cherry', 'kiwi', 'apple', 'kiwi', 'apple']

In [ ]:
# Q-12  Implement a code to find the second largest number in a given list of integers

l=[44,33,11,22,55,667,100]
l.sort()
print(l[-2])

In [ ]:
# Q-13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

def count_occurrences(lst):
    count_dict = {}
    for num in lst:
        count_dict[num] = count_dict.get(num, 0) + 1
    return count_dict

my_list = ["apple", "banana", "cherry", "banana", "kiwi","apple", "banana", "banana", "kiwi"]
print(count_occurrences(my_list))

{'apple': 2, 'banana': 4, 'cherry': 1, 'kiwi': 2}

In [ ]:
# Q-14 Write a code to reverse a list in-place without using any built-in reverse functions

def reverse(l):
    l.sort(reverse=True)
    return l

lst=[23,45,43,12,22,67,78,90]
reverse(lst)

[90, 78, 67, 45, 43, 23, 22, 12]

In [ ]:
# Q-15 Implement a code to find and remove duplicates from a list while preserving the original order of elements

def remove_dup(l1):
    new_lst=[]
    for i in range(len(l1)):
      if l1[i] in new_lst:
          continue
      else:
          new_lst.append(l1[i])
    return new_lst

my_list1 = ["apple", "banana", "cherry", "banana", "kiwi","apple", "banana", "banana", "kiwi"]
remove_dup(my_list1)

['apple', 'banana', 'cherry', 'kiwi']

In [ ]:
# Q-16 Create a code to check if a given list is sorted (either in ascending or descending order) or not

def is_sorted(lst):
    if lst == sorted(lst):
        return "Ascending"
    elif lst == sorted(lst, reverse=True):
        return "Descending"
    else:
        return "Not Sorted"

print(is_sorted([1, 2, 3, 4, 5]))
print(is_sorted([5, 4, 3, 2, 1]))
print(is_sorted([1, 3, 2, 4, 5]))

Ascending
Descending
Not Sorted

In [ ]:
# Q-17 Write a code to merge two sorted lists into a single sorted list

def sort(l1,l2):
    new_list=l1+l2
    new_list.sort()
    return new_list

list1=[1, 2, 3, 4, 5]
list2=[5, 4, 3, 2, 1]
print(sort(list1,list2))

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [ ]:
# Q-18  Implement a code to find the intersection of two given lists


def intersect(l1,l2):
     return list(set(l1) & set(l2))

list1=[1, 2, 3, 4, 5,6,7,8,9]
list2=[5, 4, 3, 2, 1]
print(intersect(list1,list2))

[1, 2, 3, 4, 5]

In [ ]:
# Q-19  Create a code to find the union of two lists without duplicates

def sort(l1,l2):
    list=l1+l2
    list.sort()
    new_list=[]
    for i in range(len(list)):
      if list[i]==list[i-1]:
        continue
      else: new_list.append(list[i])
    return new_list

list1=[1, 2, 3, 4, 5,6]
list2=[5, 4, 3, 2, 1,0]
print(sort(list1,list2))

# INSIGHTS - OTHER WAY

# def find_union(list1, list2):
#     return list(set(list1) | set(list2))

# list1 = [1, 2, 3, 4, 5]
# list2 = [4, 5, 6, 7, 8]
# print(find_union(list1, list2)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
# Q-20 Write a code to shuffle a given list randomly without using any built-in shuffle functions

def shuffle_list(lst):
    for i in range(len(lst)):
        lst[i], lst[i-1] = lst[i-1], lst[i]

my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

shuffle_list(my_list)
print("Shuffled List:", my_list)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [2, 3, 4, 1, 5]

In [ ]:
# Q-21  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

def common_elements(t1, t2):
    return tuple(set(t1) & set(t2))

t1=input("enter tuple 1 :")
t2=input("enter tuple 2 :")
print("common elements :",common_elements(t1,t2))

enter tuple 1 :abcd1234
enter tuple 2 :cdef3456
common elements : ('3', '4', 'c', 'd')

In [ ]:
# Q-22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets


set1 = set(map(int, input("Enter first set (separated by comma): ").split(',')))
set2 = set(map(int, input("Enter second set (separated by comma): ").split(',')))


print("Intersection:", set1 & set2)

Enter first set (separated by comma): 14,54,69,85,77
Enter second set (separated by comma): 14,52,36,96,58
Intersection: {14}

In [ ]:
# Q-23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

def tuple_concat(t1,t2):
    return t1+t2

t1=tuple( input("Enter first tuple (separated by comma): ").split(','))
t2=tuple(input("Enter first tuple (separated by comma): ").split(','))
print(tuple_concat(t1,t2))

Enter first tuple (separated by comma): apple, banana, google, 45,89,78
Enter first tuple (separated by comma): cherry, pizza, mozilla, 88, 23
('apple', ' banana', ' google', ' 45', '89', '78', 'cherry', ' pizza', ' mozilla', ' 88', ' 23')

In [ ]:
# Q-24  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

set1 = set(input("Enter first set :"))
set2 = set(input("Enter second set :"))
print("set 1 :" , set1)
print("set 2 :" , set2)
print("elements present in set 1 but not in set 2" ,(set1-set2))

Enter first set :python
Enter second set :data
set 1 : {'t', 'h', 'y', 'n', 'p', 'o'}
set 2 : {'a', 'd', ' ', 't'}
elements present in set 1 but not in set 2 {'h', 'y', 'n', 'p', 'o'}

In [ ]:
# Q-25  Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

def slice_tuple(tup, start, end):
    return tup[start:end+1]

tup = tuple(map(int, input("Enter elements of the tuple separated by commas: ").split(',')))
start = int(input("Enter the start index : "))
end = int(input("Enter the end index: "))

print("Sliced Tuple:", slice_tuple(tup, start, end))

Enter elements of the tuple separated by commas: 1,2,3,4,5,6,7,8,9
Enter the start index: 0
Enter the end index: 5
Sliced Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
# Q-26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

set1 = set(input("Enter first set :"))
set2 = set(input("Enter second set :"))
print("set 1 :" , set1)
print("set 2 :" , set2)
print("union of these two sets" ,(set1|set2))

Enter first set :abc
Enter second set :ijk
set 1 : {'a', 'b', 'c'}
set 2 : {'j', 'k', 'i'}
union of these two sets {'a', 'i', 'j', 'b', 'k', 'c'}

In [ ]:
# Q-27  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [ ]:
def max_min(tup):
    max_val, min_val = max(tup), min(tup)
    return min_val, max_val

tup=tuple(map(int,input("Enter your integers, separated by comma: ").split(",")))
print(max_min(tup))

Enter your integers, separated by comma: 10,25,65,95,88,32,12,45
(10, 95)

In [ ]:
# Q-28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

set1 = {1, 2, "apple", "banana", 5}
set2 = {3, "banana", "cherry", 5, 6}

union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2

print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set1 - Set2):", difference_set)

Union: {1, 2, 3, 5, 6, 'cherry', 'apple', 'banana'}
Intersection: {5, 'banana'}
Difference (Set1 - Set2): {1, 2, 'apple'}

In [9]:
# Q-29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

def count_occurrences(tup, element):
    count = 0
    for item in tup:
        if item == element:
            count += 1
    return count

tup=tuple(input("Enter your element, separated by comma: ").split(","))
element=(input("Enter your element: "))
print(f"The element '{element}' occurs {count_occurrences(tup, element)} time(s) in the tuple.")


# INSIGHTS - another way

# def count_occurrences(tup, element):
#     return tup.count(element)

Enter your element, separated by comma: a,b,s,d,f,a,b,h,u,1,2,3,5,2,1,5
Enter your element: a
The element 'a' occurs 2 time(s) in the tuple.

In [11]:
# Q-30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets


set1 = set(input("Enter elements of first set separated by commas: ").split(','))
set2 = set(input("Enter elements of second set separated by commas: ").split(','))

symmetric_diff = set1 ^ set2
print("Symmetric Difference:", symmetric_diff)

Enter elements of first set separated by commas: apple,banana,cherry,daisy,elephant
Enter elements of second set separated by commas: apple,berry,papaya,daisy,elephant
Symmetric Difference: {'berry', 'cherry', 'banana', 'papaya'}

In [16]:
# Q-31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list


def dict_append(list1):
    this_dict={}
    for i in list1:
      if i not in this_dict:
          this_dict[i]=list1.count(i)
    return this_dict

list1 = list(input("Enter elements of List separated by commas: ").split(','))
print(dict_append(list1))

Enter elements of List separated by commas: dog,cat,dog,cat,bird,dog
{'dog': 3, 'cat': 2, 'bird': 1}