<a href="https://colab.research.google.com/github/LakshayGangwal/Assignments-Data-Structures-in-Python/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
3+5

8

In [2]:
import pandas as pd

In [3]:
s=pd.Series([100,200,300])
s

0    100
1    200
2    300
dtype: int64

In [4]:
s1=pd.Series([100,200,300], index=['Ajay','Bijay','CJ'])
s1

Ajay     100
Bijay    200
CJ       300
dtype: int64

In [5]:
s1.reset_index()
s1

Ajay     100
Bijay    200
CJ       300
dtype: int64

In [6]:
s1.reset_index(drop=True)

0    100
1    200
2    300
dtype: int64

In [7]:
df1 = pd.read_csv('/content/services.csv')
df1

FileNotFoundError: [Errno 2] No such file or directory: '/content/services.csv'

In [ ]:
df1.columns

In [ ]:
df1[['id','email','languages', 'name',]]

In [ ]:
df1.shape

In [ ]:
df1.head(4)

In [ ]:
df1.info()

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

In [ ]:
s1

In [ ]:
ds=pd.DataFrame(s1)
ds

In [ ]:
ds1=ds.reset_index()
ds1

In [ ]:
ds1=ds.reset_index(drop=True)
ds1

In [ ]:
ds1['new_col']= 'Sanjay'
ds1

In [ ]:
ds1.columns=['name','rank','new_name']
ds1